    <ion-view title="Purchase Order">
	    <ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
			  </ion-nav-buttons>
        <ion-content has-header="true" padding="true">		
	<div class="list"> 
		
		
		 
			  	  <div class="item item-input-inset border-background-for_label-inputfield top-marging-below-actionvbar" >    
			
					<div class="label-width-first">
						<span class="input-label">Purchase Date</span>		
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom">                  
                 <input type="date" ng-model="purchaseOrder.purchasedate" >
                </label>            
            </div>
			  </div>
			  
			  
			  
		  	<div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Party Name</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
					<input type="text"   value={{singlePartyitemSelectedValue}} readonly>
                  </label>  

					<div class="btn-seach_button">
				<a class="button button-outline icon-right ion-search button-balanced btn-seach_button" ng-click="individualPartyListModalShow()"></a>
				</div>
				</div>
				
			  </div>
		  
		    
			    <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Payment Type</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom item item-input item-select" style="width:100%">
				<select ng-model="purchaseOrder.paymentTypeItem"  ng-change="onChangePaymentType(purchaseOrder)">
				  <option value="" ng-selected="selected">{{paymentTypeSelect.select}}</option>
						<option ng-repeat="x in purchaseOrderOperationMode.operationNodes"  value="{{x.operationCode}}">{{x.operationDes}}</option>
				</select>
				 
			</label>          
				</div>

			  </div>
			  
			   <div class="item item-input-inset border-background-for_label-inputfield" ng-show="myvalue">		
					<div class="label-width-first">
							<span class="input-label">Bank Name</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom item item-input item-select" style="width:100%">
				<select ng-model="purchaseOrder.bankNameItem">
				  <option value="" ng-selected="selected">{{bankNameSelect.select}}</option>
						<option ng-repeat="x in purchaseOrderBankList.bankOperationNodes"  value="{{x.bankCode}}">{{x.BankName}}</option>
				</select>
			</label>          
				</div>
			  </div>
			
			  
		  	<div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Item Name</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                 <label class="item-input-wrapper input-textfield-custom">                  
					<input type="text" value={{selectedProductName}} readonly>
                  </label>  

					<div class="btn-seach_button">
				<a class="button button-outline icon-right ion-search button-balanced btn-seach_button" ng-click="btnPruductRateModelShow()"></a>
				</div>
				</div>
				
			  </div>
			  
			  
			    <div class="item item-input-inset border-background-for_label-inputfield">		
					<div class="label-width-first">
							<span class="input-label">Measure Type</span>
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom item item-input item-select" style="width:100%">
				<select ng-model="purchaseOrder.measureTypeItem"   ng-change="onMeasureType(purchaseOrder)">
				  <option value="" ng-selected="selected">{{measureTypeSelect.select}}</option>
						<option ng-repeat="x in measureTypeList" value="{{x.typeName}}">{{x.typeName}}</option>
				</select>
			</label>          
				</div>
			  </div>
			  
			  
			  	  <div class="item item-input-inset border-background-for_label-inputfield top-marging-below-actionvbar"   ng-show="unitShowhHide" >    
			
					<div class="label-width-first">
						<span class="input-label">QTY</span>		
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom">                  
                 <input type="number" ng-model="purchaseOrder.qty"  ng-change="changeValue(purchaseOrder)">
                </label>            
            </div>
			  </div>
			  
			   
			  	  <div class="item item-input-inset border-background-for_label-inputfield top-marging-below-actionvbar" >    
			
					<div class="label-width-first">
						<span class="input-label">Unit</span>		
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom">                  
                 <input type="text"  value={{selectedProductRate}} readonly>
                </label>            
            </div>
			  </div>
			  
			   
			  	  <div class="item item-input-inset border-background-for_label-inputfield top-marging-below-actionvbar" >    
			
					<div class="label-width-first">
						<span class="input-label">Total Amount</span>		
					</div>				
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width">
                <label class="item-input-wrapper input-textfield-custom">                  
                 <input type="text" value={{onChangeTotalPrice}} readonly>
                </label>            
            </div>
			  </div>
			
	
 
		<div class="item item-input-inset button-margin-from-inputfield border-background-for_label-inputfield"> 
				<div class="label-width-first">	
					<button  class="button button-block button-calm"   ng-click="btnAddList(purchaseOrder)" style="width:100%;">
			 Add List
			</button>  
				</div>
				<div class="item item-input-inset input-label-inputfiled11 input-filed-width" >                   
           
			<button  class="button button-block button-calm"   ng-click="btnPurchaseOrderbubmit(purchaseOrder)" style="width:100%;">
			 Submit
			</button>                    
            </div>
		<div class="label-width-first">	
		<button  class="button button-block button-calm"   ng-click="btnPurchaseOrderClear(purchaseOrder)" style="width:100%;">
			Clear
			</button>  
				</div>
			  </div>  
		</div>  
			
	
	
		<ion-scroll direction="x" style="width: 100%" scrollbar-x="false" delegate-handle="head" zooming="true" on-scroll="scrollMirror1('head', 'list')">
       
		 <div class="item item-header item-positive row row-item acs-width-area">
          <div class="col col-center acs-slno">SL</div>
          <div class="col col-center acs-date-amout">Purchase Date</div>
          <div class="col col-left acs-date-amout" >Payment Type</div>
		   <div class="col col-left acs-date-amout" >Product Code</div>
		   <div class="col col-left acs-date-amout" >Product Name</div>
          <div class="col col-center acs-date-amout">Measure Type</div>
		   <div class="col col-left acs-date-amout">Qty</div>
		   <div class="col col-left acs-date-amout">Unit Price</div>
		   <div class="col col-left acs-date-amout">Amount</div>
		    <div class="col col-left acs-date-amout">Status</div>
		    <div class="col col-left acs-date-amout">Delete</div>
		   
        
        </div>
      </ion-scroll>
	   <ion-scroll direction="xy" style="height: 100%" zooming="true" on-scroll="scrollMirror1('list', 'head')" delegate-handle="list"  >
	  
        <div class="item row row-item acs-width-area" ng-repeat="x in clientPurchasewaitingOrderList.purChaseOderWaitingNodes " ng-class-odd="'odd'" ng-class-even="'even'" >
          <div class="col col-center col-sep acs-slno">{{x.slNo}}</div>
          <div class="col col-center col-sep  acs-date-amout">{{ x.purchaseDate}}</div>
          <div class="col col-center col-sep acs-date-amout">{{x.paymentType}}</div>
		  <div class="col col-right col-sep acs-date-amout">{{ x.productCode}}</div>
          <div class="col col-right col-sep acs-date-amout">{{ x.productName }}</div>
		   <div class="col col-center col-sep  acs-date-amout">{{ x.measureType  }}</div>
			<div class="col col-right col-sep acs-date-amout">{{ x.qty}}</div>
			<div class="col col-right col-sep acs-date-amout">{{ x.unitprice}}</div>
				<div class="col col-right col-sep acs-date-amout">{{ x.amount}}</div>
			<div class="col col-right col-sep  acs-date-amout">{{ x.status }}</div>
				<div class="col col-center col-sep  acs-date-amout">
					
					<div class="btn-seach_button">
				<a class="button button-outline icon-right ion-ios-trash button-balanced btn-seach_button" ng-click="btnDeletItem(x)"></a>
				</div>
				</div>
			   
      
        </div>
     

      </ion-scroll>
			
	
          
		  
		  
		  
        </ion-content>
      </ion-view>
