  <ion-view title="Account Balance">
	<ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
			  </ion-nav-buttons>
			  
		

	
  
        <ion-content has-header="true" padding="true" scroll="false">
	
		


     <ion-scroll direction="x" style="width: 100%" scrollbar-x="false" delegate-handle="head" zooming="true" on-scroll="scrollMirror1('head', 'list')">
         <div class="item item-header item-positive row row-item acs-width-area">
          <div class="col col-center acs-slno" >SL</div>
          <div class="col col-center acs-date-amout">Product Code</div>
          <div class="col col-left acs-narration" >Product Name</div>
          <div class="col col-center acs-date-amout">Measure Type</div>
		    <div class="col col-center acs-date-amout">Unit Price</div>
			  <div class="col col-center acs-date-amout">QTY</div>
			   <div class="col col-center acs-date-amout">Amount</div>
			   
        
        </div>
      </ion-scroll>
	  
	  	  <ion-scroll direction="xy" style="height: 100%" zooming="true" on-scroll="scrollMirror1('list', 'head')" delegate-handle="list"  >
        <div class="item row row-item acs-width-area" ng-repeat="x in clientPurchaseOrderStatusDeatilsList.statusDetailsListNode " ng-class-odd="'odd'" ng-class-even="'even'">
          <div class="col col-center col-sep  acs-slno">{{ x.slNo }}</div>
          <div class="col col-center col-sep  acs-date-amout">{{ x.productCode}}</div>         
          <div class="col col-left col-sep  acs-narration">{{x.productName }}</div>
		   <div class="col col-center col-sep  acs-date-amout">{{x.mesaureType }}</div>
		    <div class="col col-center col-sep  acs-date-amout">{{x.unitPrice }}</div>
			 <div class="col col-center col-sep acs-date-amout">{{x.qty }}</div>
			<div class="col col-center col-sep  acs-date-amout">{{x.amount }}</div>			 
        </div>
     

      </ion-scroll>
	
        </ion-content>
      </ion-view>
