 <ion-view title="Welcome">
			  <ion-nav-buttons side="left">
				<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
			  </ion-nav-buttons>
			  <ion-content class="has-header">
			  <!--
				 <div class="list">  
			   
					
					<a href="#/app/accBalance" class="button button-block button-positive " style=" width: 80%;margin-left:10%;margin-right:10%;margin-top:10px;">A/c Balance</a>
					<a href="#/app/accStatement" class="button button-block button-positive" style=" width: 80%;margin-left:10%;margin-right:10%;margin-top:10px;">A/c Statement</a>
					<a href="#/app/fundTranster" class="button button-block button-positive" style=" width: 80%;margin-left:10%;margin-right:10%;margin-top:10px;">Fund Transfer</a>
					<a href="#/app/fundTransterRequest" class="button button-block button-positive" style=" width: 80%;margin-left:10%;margin-right:10%;margin-top:10px;">Standing Ins.</a>
					<a href="#/app/talkTimeRecharge" class="button button-block button-positive" style=" width: 80%;margin-left:10%;margin-right:10%;margin-top:10px;">Talk Time Recharge</a>
					<a href="#/app/btnStopChequeLeaf" class="button button-block button-positive" style=" width: 80%;margin-left:10%;margin-right:10%;margin-top:10px;">Stop Cheque Leaf</a>
					<a href="#/app/chequeStatusInquiry" class="button button-block button-positive" style=" width: 80%;margin-left:10%;margin-right:10%;margin-top:10px;">Cheque Status Inquiry</a>
					
						
					  </div>
					  -->
					  <p class="input-label-welcome-message">{{welcomeErrorMessage}}</p>
					<div class="row">
				
					<div class="col">
					  <button ng-click="btnAdminPurchaseOrder()"  class="button icon-left ion btnBlockHome button-stable">
						<i class="ionSize ion-document-text"></i><br>Purchase Order
						
					  </button>
					</div>
					<div class="col">
					  <button  ng-click="btnAllPartyLedger()" class="button icon-left ion btnBlockHome button-stable">
						<i class="ionSize ion-ios-book"></i><br>All Party
						</button>
					</div>
				  </div>
				  <div class="row">
					
					<div class="col">
					  <button ng-click="btnSingleParty()" class="button icon-left ion btnBlockHome button-stable">
						<i class="ionSize ion-ios-home"></i><br>Single Party
					  </button>
					</div>
					
					<div class="col">
					  <button  ng-click="btnLCParty()" class="button icon-left ion btnBlockHome button-stable">
						<i class="ionSize ion-ios-medkit"></i><br>LC Party
						</button>
					</div>
				  </div>
				  
				   <div class="row">
					
					<div class="col">
					  <button ng-click="btnAllCustomerLedger()" class="button icon-left ion btnBlockHome button-stable">
						<i class="ionSize ion-ios-people-outline"></i><br>All Customer
					  </button>
					</div>
					<div class="col">
					  <button  ng-click="btnSingleCustomerLedger()" class="button icon-left ion btnBlockHome button-stable">
						<i class="ionSize ion-ios-person"></i><br>Single Customer
						</button>
					</div>
				  </div>
				   
				 
				  	  <div class="row">
					<div class="col">
					  <button  ng-click="btnCashPaymentDeptwise()" class="button icon-left ion btnBlockHome button-stable">
						<i class="ionSize ion-clipboard"></i><br>Cash Pay Dept
						</button>
					</div>
					<div class="col">
					  <button ng-click="btnCashPaymentGrouptwise()" class="button icon-left ion btnBlockHome button-stable">
						<i class="ionSize ion-ios-briefcase"></i><br>Cash Pay Group
						
					  </button>
					</div>
				  </div>
				  
				  
			  </ion-content>
			</ion-view>